@import url('https://fonts.googleapis.com/css2?family=Gugi');

.developerStyle img{
    width: 200px; height: 200px;
}

.nbv{
    width: 90%;
    height: 100vh;
    margin: auto;
    font-family: 'Gugi', cursive;
}

.nbv h1{
    margin: 0;
    padding: 20px 0;
}

body{
    background-color: yellow;
}

input[type=text]{
    width: 100%;
    border:2px solid #aaa;
    border-radius :4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
